body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
h1 {
  font-size: 40px;
}
#title {
  padding-bottom: 30px;
  padding-top: 25px;
  margin: 0;
  font-size: 90px;
}
#grid {
  display: grid;
  grid-template-columns: 400px 1fr;
}
@media (max-width: 500px) {
  #title {
    font-size: 50px;
  }
  #grid {
    display: block;
  }
}
