<<<<<<< HEAD
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#grid {
  display: grid;
  grid-template-columns: 700px 1fr;
  height: 100%;
}
#main {
  padding-left: 25px;
  padding-top: 80px;
  background-color: #fce38a;
  display: block;

  height: 100%;
}

#HCB_comment_box {
  padding-top: 110px;
  padding-left: 25px;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.mainfont {
  font-size: 50px;
  vertical-align: center;
  font-family: "Jeju Myeongjo", serif;

  vertical-align: center;
}

@media (max-width: 700px) {
  #title {
    font-size: 50px;
  }
  #grid {
    display: block;
  }
  .mainfoint {
    font-size: xx-larger;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  #grid {
    display: block;
  }
  .mainfoint {
    font-size: xx-larger;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  #grid {
    display: block;
  }
  .mainfoint {
    font-size: xx-large;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  #grid {
    display: block;
  }
  .mainfoint {
    font-size: xx-larger;
  }
}
=======
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#grid {
  display: grid;
  grid-template-columns: 700px 1fr;
  height: 100%;
}
#main {
  padding-left: 25px;
  padding-top: 80px;
  background-color: #fce38a;
  display: block;

  height: 100%;
}

#HCB_comment_box {
  padding-top: 110px;
  padding-left: 25px;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.mainfont {
  font-size: 50px;
  vertical-align: center;
  font-family: "Jeju Myeongjo", serif;

  vertical-align: center;
}

@media (max-width: 700px) {
  #title {
    font-size: 50px;
  }
  #grid {
    display: block;
  }
  .mainfoint {
    font-size: xx-larger;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  #grid {
    display: block;
  }
  .mainfoint {
    font-size: xx-larger;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  #grid {
    display: block;
  }
  .mainfoint {
    font-size: xx-large;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  #grid {
    display: block;
  }
  .mainfoint {
    font-size: xx-larger;
  }
}
>>>>>>> 784890ad874429f39d5a48bcd6c0aed17a583f38
