body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

#title {
  border-bottom: 4px pink solid;
  padding-bottom: 30px;
  padding-top: 25px;
  margin: 0;
  font-size: 50px;
  text-align: center;
}
#grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  /* border:5px pink dotted; */
}
#main {
  width: 400px;
  text-align: center;
  border-right: 4px pink solid;
}

#comment {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 500px) {
  #title {
    font-size: 40px;
  }
}

h5 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
