@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@200&display=swap");

:root {
  --main-color: #fce38a;
  --main-color-phone: #fce38a;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#grid {
  display: grid;
  grid-template-columns: 700px 1fr;
  height: 100%;
}
#main {
  padding-left: 25px;
  padding-top: 0;
  display: block;
  background: var(--main-color);

  height: 100%;
}
#date ::selection,
p::selection,
a::selection {
  background-color: darkorchid;
  color: white;
}
#date {
  margin-top: 0;
  padding-top: 50px;
}
#main a {
  color: black;
}
#main a:hover {
  font-style: oblique;
}

h3 {
  margin-top: 0;
}

#HCB_comment_box {
  padding-top: 60px;
  padding-left: 25px;
}

#secondfont {
  font-family: "Noto Serif KR", serif;
}
.mainfont {
  vertical-align: center;
  font-family: "Noto Serif KR", serif;
  font-size: 50px;
  vertical-align: center;
}

#switchHandler {
  margin-top: 70px;
  width: 10%;
  display: block;
  border-radius: 10px;
  background-color: white;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 700px) {
  #title {
    font-size: 50px;
  }
  #grid {
    display: block;
  }
  #date {
    font-size: 60px;
  }

  .mainfont {
    font-size: 60px;
  }
  #main {
    background: var(--main-color-phone);
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  #grid {
    display: block;
  }
  #date {
    font-size: 90px;
  }
  .mainfont {
    font-size: 90px;
  }
  #main {
    background: var(--main-color-phone);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  #grid {
    display: block;
  }
  #date {
    font-size: 90px;
  }

  .mainfont {
    font-size: 90px;
  }
  #main {
    background: var(--main-color-phone);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  #grid {
    display: block;
  }

  #date {
    font-size: 90px;
  }
  .mainfont {
    font-size: 90px;
  }
  #main {
    background: var(--main-color);
  }
}
