.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  color: black;
  padding: 15px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__link .fa-toilet {
  transition: color 1s ease-in-out;
}

.nav__link .fa-toilet:hover {
  color: gold;
}

.nav__notice__h,
.nav__notice {
  background-color: tomato;
  width: 21px;
  height: 21px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 18px;
}

.nav__notice {
  display: none;
}
