.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  height: 95vh;
}

.video {
  display: none;
}
.video a {
  font-size: 80px;
}

.music-body {
  height: 95vh;
}

.notice-body {
  height: 400vh;
}

.notice-content {
  color: white;
  font-size: 30px;
  margin: 10px 20px 20px 20px;
  line-height: 1.3;
}
.notice-content span {
  margin: 10px 0px;
}

.notice-content__img {
  width: 50%;
  border: 3px solid white;
}

.notice-content__img:active {
  transform: scale(100%, 100%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  padding-top: 50px;
}

#HCB_comment_box {
  margin: 10px 20px;
  color: white;
}
