.typing-text__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

h1,
.typing-text__container::after {
  color: white;
  font-size: 70px;
}

.typing-text__container::after {
  content: "|";
  animation: blink ease 1s infinite;
  white-space: nowrap;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
